@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* @font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Black.woff2') format('woff2'),
        url('font/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Bold.woff2') format('woff2'),
        url('font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-ExtraBold.woff2') format('woff2'),
        url('font/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-ExtraLight.woff2') format('woff2'),
        url('font/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Light.woff2') format('woff2'),
        url('font/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.woff2') format('woff2'),
        url('font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Medium.woff2') format('woff2'),
        url('font/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-SemiBold.woff2') format('woff2'),
        url('font/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Thin.woff2') format('woff2'),
        url('font/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
} */

:root{
    --primary-font:'Mukta', sans-serif;
    --primary-color:#252525;
    --primary-color:#252525;
    --secondary-color:#EE3E34;
    --text-color:#2a2a2a;
    --default-gaps:120px;
    --shadow: 0px 1px 2.2px rgba(0, 0, 0, 0.02),
    0px 2.5px 5.3px rgba(0, 0, 0, 0.028), 0px 4.6px 10px rgba(0, 0, 0, 0.035),
    0px 8.3px 17.9px rgba(0, 0, 0, 0.042), 0px 15.5px 33.4px rgba(0, 0, 0, 0.05),
    0px 37px 80px rgba(0, 0, 0, 0.07);
}
    
}

.container{
	max-width: 1270px;
	margin: 0 auto;

}

.def-gaps{
    padding: var(--default-gaps) 0;
}

body{
	margin: 0;
	font-family: var(--primary-font);
}

img{
    max-width: 100%;
}

.site-branding a {
    text-decoration: none;
    font-size: 24px;
}

.site-branding a {
    text-decoration: none;
    font-size: 34px;
    color: #fff;
}

ul.nav-lists {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

ul.nav-lists li.nav-list {
    font-size: 16px;
    margin-left: 40px;
}

ul.nav-lists li.nav-list a {
    text-decoration: none;
    color: #fff;
}

.head-wrapper {
    padding: 27px 0;
    margin: auto 0;
    /* justify-content: center; */
    align-items: center;
}

.banner-content {
    padding: 300px 0;
}

section.banner-section {
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 11;
}

section.banner-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

.butn a {
    padding: 13px 42px;
    background: #fff;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 111;
}

.intro h1 {
    font-size: 87px;
    color: #fff;
    font-weight: 600;
    line-height: 95px;
    padding: 0;
    margin: 0;
}

.intro h2 {
    font-size: 49px;
    color: #fff;
    font-weight: 600;
}

.typed-out{
    overflow: hidden;
    border-right: .15em solid #252525;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
    font-size: 2.7rem;
    display: inherit;
    max-width: 782px;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
    
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  .intro {
    margin-bottom: 48px;
}

.rota-anim-img{
	position:absolute;
	bottom: 300px;
	right: 103px;
	--size: 190px;
	width:var(--size);
	height:var(--size);
}
.rota-anim-img{
	 -webkit-animation:spin 26s linear infinite;
	 animation: spin 40s linear infinite;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* start of about me section */

.lodder .marker-line{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.marker-index:before {
    content: '1';
    position: absolute;
    left: 0;
    right: 0;
    font-size: 16px;
    display: inline-flex;
    background: #000;
    color: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(-5px);
    margin: auto;
    z-index: 1;
}

.lodder .marker {
    background: transparent;
    border: 4px solid #666;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.lodder .marker.lower:after, .lodder .marker.upper:before {
    position: absolute;
    content: "";
    background: #000;
    display: block;
    height: calc(50% - 8px);
    left: calc(50% - 2px);
    width: 4px;
}

.lodder .marker.lower:after {
    bottom: 0;
}

.lodder .marker.upper:before {
    top: 0;
}

.section-heading h2 {
    font-size: 65px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--primary-color);
}

.content h3 {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.content p {
    font-size: 19px;
    color: var(--text-color);
}

.lodder .img-content {
    padding: 40px 0;
}

.lodder-wrapper .bg-white:nth-child(2) .marker-index:before {
    content: '2';
/*     left: 30px; */
}

.lodder-wrapper .bg-white:nth-child(3) .marker-index:before {
    content: '3';
}

.lodder-wrapper .bg-white:nth-child(4) .marker-index:before {
    content: '4';
/*     left: 30px; */
}

.lodder-wrapper .bg-white:nth-child(5) .marker-index:before {
    content: '5';
}
.bg-white .container {
    max-width: 1150px;
}

.bg-white.last-element .marker-line {
    height: 150px;
}

.bg-white.last-element .marker-line:before {height: 100%;}

.last-element .lower:after {
    height: 100%  !important;
}

.last-element .marker-index {
    height: 150px;
}

.last-element .marker {
    background: #fff;
    z-index: 1;
}

.last-element .marker-index:before {
    font-size: 0;
	bottom:-10px;
}

.last-element .marker {
    border: none;
}

.lodder .content a {
    font-size: 17px;
    color: #1a1a1a;
    text-decoration: none;
    border-bottom: 1px solid #333;
}

/* lodder animation */
.appear{
    position: relative;
    -webkit-transform: translateY(150px);
        -ms-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
  }
  
  .appear.active{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  
  .fade-left{
      -webkit-transform: translate3d(100px,0,0);
              transform: translate3d(100px,0,0);
      -webkit-transition: .5s all ease;
      -o-transition: .5s all ease;
      transition: .5s all ease;
  }
  
  .fade-right{
      -webkit-transform: translate3d(-100px,0,0);
              transform: translate3d(-100px,0,0);
      -webkit-transition: .5s all ease;
      -o-transition: .5s all ease;
      transition: .5s all ease;
  }

/* end-of-loader annimation */

/* end of about me section */

/* start of black-banner-section */

.black-banner .tear--bottom, .black-banner .tear--top{
    position: relative;
}
.black-banner .bg--black{
    background-color: #101010;
    padding: 80px 0;
}
.tear--top img {
    position: absolute;
    bottom: 80px;
}

.tear--bottom img {
    position: absolute;
    top: 80px;
}

.bg--black h3 {
    font-size: 54px;
    color: #fff;
    display: flex;
    align-items: center;
}

.black-banner-wrapper {
    align-items: center;
}
/* end of black-banner-section */


/* start of project */

.projects-thumb {
    background: #f9f9f9;
    border: 2px solid #ffffff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 40px;
    transition: all ease 0.5s;
  }
  
  .projects-thumb:hover {
    border-color: #f37021;
  }
  
  .projects-thumb:hover .projects-image,
  .projects-thumb:focus .projects-image {
    transform: rotate(0) translateY(0);
  }
  
  .projects-thumb .popup-image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .projects-image {
    border-radius: 20px;
    display: block;
    width: 100%;
    transform: rotate(10deg) translateY(80px);
    transition: all ease 0.5s;
    height: 380px;
    object-fit: cover;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .projects-title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
  }
  
  .projects-tag {
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .section-heading {
    text-align: center;
}

.section-heading p {
    font-size: 19px;
    max-width: 350px;
    margin: 0 auto;
    color: var(--primary-color);
}

.section-heading a {
    color: var(--secondary-color);
}
  

/* end of project */

/* start of skills section*/

section.skills {
    background-color: #F0F0F1;
    padding: var(--default-gaps) 0;
}

.skill-content {
    background-color: #ffffff;
    padding: 50px;
}

.skills-wrapper > div {
    margin-bottom: 30px;
}

.skill-content .logo-holder {
    font-size: 40px;
    margin-bottom: 4px;
}

.skill-content h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.skill-content p {
    color: #656565;
    line-height: 1.7rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.skills .len-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .len-more a {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: capitalize;
    align-items: center;
}

.len-more a {
    display: flex;
}

.skills .len-more a .tran-icon i {
    position: relative;
    left: 12px;
    top: 0px;
    font-size: 14px;
}

.skills .len-more a:hover i {
    left: 20px;
    transition: all 0.5s ease;
}

/* end of skills section */

/* start of video-sec */

.yt-video {
    position: absolute;
    top: 23px;
    left: 83px;
    width: 537px;
    height: 337px;
}

.lap-section {
    position: relative;
}

.lap img {
    width: 700px;
    height: 400px;
    object-fit: cover;
}

.yt-video > iframe {
    width: 100%;
    height: 100%;
}

.lap {
    /* align-items: end; */
    /* display: flex; */
}

.row.video-wrapper {}

.video-wrapper .col-lg-8 {
    justify-content: end;
    display: flex;
}

section.video-section {
    padding: var(--default-gaps) 0;
}

section.video-section h2 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* end of video-section */

/* start of titling-card-section */

section.titling-card-section {
    background: #f7f9fd;
    padding: var(--default-gaps) 0;
}

.tilting-card-body {
    display: grid;
    place-content: center;
    text-align: center;
    box-shadow: var(--shadow);
  }
  
  .mouse-position-tracker {
    position: absolute;
    width: calc(100% / 3);
    height: calc(100% / 3);
    z-index: 2;
  }
  .mouse-position-tracker {
    // background: blue;
    // opacity: .2;
  }
  
  /* 1st, 4th, 7th */
  .mouse-position-tracker:nth-child(3n - 2) {
    left: 0;
  }
  /* 2nd, 5th, 8th */
  .mouse-position-tracker:nth-child(3n - 1) {
    left: calc(100% / 3);
  }
  
  /* 2nd, 5th, 8th */
  .mouse-position-tracker:nth-child(3n) {
    right: 0;
  }
  
  /* 4 to 6 */
  .mouse-position-tracker:nth-child(n + 4):nth-child(-n + 6) {
    top: calc(100% / 3);
  }
  /* 7 to 9 */
  .mouse-position-tracker:nth-child(n + 7):nth-child(-n + 9) {
    bottom: 0;
  }
  
  .tilting-card-wrapper {
    position: relative;
    width: 15rem;
    aspect-ratio: 1 / 2;
  }
  
  .tilting-card-body {
    position: absolute;
    /* inset: 0; */
    // outline: 3px solid red;
    background-size: cover;
    ;;background-position: center;;;
    ;;;/* background-image: url("https://images.unsplash.com/photo-1528321917418-af00f8823ded?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg0MjY1Mzg&ixlib=rb-1.2.1&q=80&w=800"); */;;;
  ;;;;;;/* background-color: transparent; */;;;;;;
  }
  
  .tilting-card-body > :where(h1, p) {
    background: white;
    padding: 0.2rem;
    margin: 0;
  }
  
  .tilting-card-body {
    --perspective: 500px;
    --rotationX: 0;
    --rotationY: 0;
    --rotationZ: 0;
    --angle: 15deg;
    transform: perspective(var(--perspective)) rotateX(var(--rotationX))
      rotateY(var(--rotationY)) rotateZ(var(--rotationZ));
    transition: transform 500ms ease;
  }
  
  .mouse-position-tracker:nth-child(1):hover ~ .tilting-card-body {
    --rotationX: var(--angle);
    --rotationY: calc(var(--angle) * -1);
  }
  
  .mouse-position-tracker:nth-child(2):hover ~ .tilting-card-body {
    --rotationX: var(--angle);
  }
  
  .mouse-position-tracker:nth-child(3):hover ~ .tilting-card-body {
    --rotationX: var(--angle);
    --rotationY: var(--angle);
  }
  
  .mouse-position-tracker:nth-child(4):hover ~ .tilting-card-body {
    --rotationY: calc(var(--angle) * -1);
  }
  
  .mouse-position-tracker:nth-child(6):hover ~ .tilting-card-body {
    --rotationY: var(--angle);
  }
  
  .mouse-position-tracker:nth-child(7):hover ~ .tilting-card-body {
    --rotationY: calc(var(--angle) * -1);
    --rotationX: calc(var(--angle) * -1);
  }
  
  .mouse-position-tracker:nth-child(8):hover ~ .tilting-card-body {
    --rotationX: calc(var(--angle) * -1);
  }
  
  .mouse-position-tracker:nth-child(9):hover ~ .tilting-card-body {
    --rotationY: var(--angle);
    --rotationX: calc(var(--angle) * -1);
  }

  .tilting-card-body img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.card-wrapper > div {
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
}

section.titling-card-section .section-heading h2 {
    text-align: left;
}

section.titling-card-section .section-heading p {
    text-align: left;
    max-width: 500px;
    margin: inherit;
}

/* end of card-section */

/* start of contact us */
.form-group input {
    padding: 18px 30px !important;
    background: transparent;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 15px;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group textarea {
    padding: 18px 30px !important;
    background: transparent;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 15px;
    height: 180px;
    border-radius: 3px;
}

section.contact {
    background: #fafafa;
    padding: var(--default-gaps);
}

.form-wrap {
    background: #fff;
    padding: 90px;
}

section.contact .container {
    max-width: 1000px;
}

.sbm-btn a {
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 13px 42px;
}

.sbm-btn {
    margin-top: 19px;
    text-align: center;
}