@font-face {
    font-family: 'Mukta';
    src: url('font/Mukta-ExtraLight.woff2') format('woff2'),
        url('font/Mukta-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('font/Mukta-Bold.woff2') format('woff2'),
        url('font/Mukta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('font/Mukta-ExtraBold.woff2') format('woff2'),
        url('font/Mukta-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('font/Mukta-Light.woff2') format('woff2'),
        url('font/Mukta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('font/Mukta-Regular.woff2') format('woff2'),
        url('font/Mukta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('font/Mukta-SemiBold.woff2') format('woff2'),
        url('font/Mukta-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('font/Mukta-Medium.woff2') format('woff2'),
        url('font/Mukta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.container{
	max-width: 1270px;
	margin: 0 auto;

}
