@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* @font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Black.woff2') format('woff2'),
        url('font/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Bold.woff2') format('woff2'),
        url('font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-ExtraBold.woff2') format('woff2'),
        url('font/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-ExtraLight.woff2') format('woff2'),
        url('font/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Light.woff2') format('woff2'),
        url('font/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.woff2') format('woff2'),
        url('font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Medium.woff2') format('woff2'),
        url('font/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-SemiBold.woff2') format('woff2'),
        url('font/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Thin.woff2') format('woff2'),
        url('font/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
} */

:root{
    --primary-font:'Mukta', sans-serif;
    --primary-color:#252525;
    --primary-color:#252525;
}

.container{
	max-width: 1270px;
	margin: 0 auto;

}

body{
	margin: 0;
	font-family: var(--primary-font);
}

.site-branding a {
    text-decoration: none;
    font-size: 24px;
}

.site-branding a {
    text-decoration: none;
    font-size: 34px;
    color: #fff;
}

ul.nav-lists {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

ul.nav-lists li.nav-list {
    font-size: 16px;
    margin-left: 40px;
}

ul.nav-lists li.nav-list a {
    text-decoration: none;
    color: #fff;
}

.head-wrapper {
    padding: 27px 0;
    margin: auto 0;
    /* justify-content: center; */
    align-items: center;
}

.banner-content {
    padding: 300px 0;
}

section.banner-section {
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 11;
}

section.banner-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

.butn a {
    padding: 13px 42px;
    background: #fff;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 111;
}

.intro h1 {
    font-size: 92px;
    color: #fff;
    font-weight: 600;
    line-height: 95px;
}

.intro h2 {
    font-size: 49px;
    color: #fff;
    font-weight: 600;
}

.typed-out{
    overflow: hidden;
    border-right: .15em solid #252525;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
    font-size: 2.4rem;
    display: inherit;
    max-width: 686px;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
    
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  .intro {
    margin-bottom: 40px;
}

/* .rotate {
    width: 100px;
    animation: rotation 20s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } */
  

